<div
  id="fib-0"
  class="fib"
  data-cy="fib"
  [ngClass]="backgroundColor"
  data-test="background-example"
>
  <div id="fib-1" class="fib" data-cy="fib"></div>
  <div id="fib-2" class="fib" data-cy="fib">
    <div id="fib-3" class="fib" data-cy="fib"></div>
    <div id="fib-5" class="fib" data-cy="fib">
      <div id="fib-8" class="fib" data-cy="fib"></div>
      <div id="fib-13" class="fib" data-cy="fib">
        <div id="fib-21" class="fib" data-cy="fib"></div>
        <div id="fib-34" class="fib" data-cy="fib"></div>
      </div>
    </div>
  </div>
</div>
<app-message></app-message>
