<form [formGroup]="messageForm" (ngSubmit)="saveMessage()">
  <h4>Add your thougths about this app</h4>
  <div class="form-group">
    <label for="author">Author</label>
    <br />
    <input
      formControlName="author"
      class="form-control"
      type="text"
      name="author"
      placeholder="Author"
      autofocus
      autocomplete="false"
      data-test="author-input"
    />
    <small
      *ngIf="!messageForm.controls['author'].valid"
      class="error-feedback"
      data-test="error-feedback"
    >
      Author should have at least five characters
    </small>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <br />
    <input
      formControlName="content"
      class="form-control"
      type="text"
      name="content"
      placeholder="Content"
      autocomplete="false"
      data-test="content-input"
    />
    <small
      *ngIf="!messageForm.controls['content'].valid"
      class="error-feedback"
      data-test="error-feedback"
    >
      Content should have at least five characters
    </small>
  </div>
  <div class="btn-control">
    <button
      type="submit"
      [ngClass]="backgroundColor"
      data-test="message-submit"
    >
      Add
    </button>
  </div>
</form>
