<div class="sidebar">
  <h3>Choose your background</h3>
  <br />
  <div class="btn-group">
    <div
      class="btn btn-orange"
      (click)="setColor('orange')"
      data-test="orange-color-selector"
    ></div>
    <div
      class="btn btn-yellow"
      (click)="setColor('yellow')"
      data-test="yellow-color-selector"
    ></div>
    <div
      class="btn btn-green"
      (click)="setColor('green')"
      data-test="green-color-selector"
    ></div>
    <div
      class="btn btn-blue"
      (click)="setColor('blue')"
      data-test="blue-color-selector"
    ></div>
    <div
      class="btn btn-purple"
      (click)="setColor('purple')"
      data-test="purple-color-selector"
    ></div>
    <div
      class="btn btn-red"
      (click)="setColor('red')"
      data-test="red-color-selector"
    ></div>
  </div>
</div>
