:root {
  --PHI: 1.618;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
nav {
  width: 100%;
  height: 60px;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  .nav-brand {
    text-decoration: none;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: #eee;
    transition: all 0.3s ease-in-out;
  }
  .nav-brand:hover,
  .nav-brand:focus {
    color: #ccc;
    transform-origin: center;
    transform: scaleX(0.9);
  }
}
.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
}
.sidebar {
  width: 300px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  padding-top: calc(60px + 20px);
  align-items: center;
  background: linear-gradient(0deg, #222 11.2%, #555 100%);
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.3) -10px 0 10px inset;
  z-index: 5;
}
.form-group {
  margin: 20px 5px;
}
.mr-auto {
  display: flex;
  justify-content: flex-end;
}
input,
button {
  cursor: pointer;
}
.btn-group {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background: #444;
  box-shadow: #111 5px 5px 5px inset, #222 -5px -5px 5px inset;
  border-radius: 1rem;
}
.btn {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  transform: scaleX(0.9) translateY(10px);
}
.btn-orange {
  background: hsl(39, 70%, 50%);
  box-shadow: hsl(39, 70%, 30%) 0 0 5px;
}
.btn-yellow {
  background: hsl(60, 70%, 50%);
  box-shadow: hsl(60, 70%, 30%) 0 0 5px;
}
.btn-green {
  background: hsl(120, 70%, 25%);
  box-shadow: hsl(120, 70%, 10%) 0 0 5px;
}
.btn-blue {
  background: hsl(240, 70%, 50%);
  box-shadow: hsl(240, 70%, 30%) 0 0 5px;
}
.btn-purple {
  background: hsl(300, 70%, 25%);
  box-shadow: hsl(300, 70%, 10%) 0 0 5px;
}
.btn-red {
  background: hsl(0, 70%, 50%);
  box-shadow: hsl(0, 70%, 30%) 0 0 5px;
}

.btn-orange:hover::before {
  content: "orange";
  width: 80px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  position: relative;
  left: -150%;
  top: -150%;
  border-radius: 3rem;
}

.btn-yellow:hover::before {
  content: "yellow";
  width: 80px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  position: relative;
  left: -150%;
  top: -150%;
  border-radius: 3rem;
}

.btn-green:hover::before {
  content: "green";
  width: 80px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  position: relative;
  left: -150%;
  top: -150%;
  border-radius: 3rem;
}

.btn-blue:hover::before {
  content: "blue";
  width: 80px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  position: relative;
  left: -150%;
  top: -150%;
  border-radius: 3rem;
}

.btn-purple:hover::before {
  content: "purple";
  width: 80px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  position: relative;
  left: -150%;
  top: -150%;
  border-radius: 3rem;
}

.btn-red:hover::before {
  content: "red";
  width: 80px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  position: relative;
  left: -150%;
  top: -150%;
  border-radius: 3rem;
}
.bg-orange {
  --bg-fib-1: hsl(39, 70%, 50%);
  --bg-fib-2: hsl(39, 70%, 40%);
  --bg-fib-3: hsl(39, 70%, 30%);
  --bg-fib-4: hsl(39, 70%, 20%);
  --bg-fib-5: hsl(39, 70%, 10%);
}
.bg-yellow {
  --bg-fib-1: hsl(60, 70%, 50%);
  --bg-fib-2: hsl(60, 70%, 40%);
  --bg-fib-3: hsl(60, 70%, 30%);
  --bg-fib-4: hsl(60, 70%, 20%);
  --bg-fib-5: hsl(60, 70%, 10%);
}
.bg-green {
  --bg-fib-1: hsl(120, 70%, 50%);
  --bg-fib-2: hsl(120, 70%, 40%);
  --bg-fib-3: hsl(120, 70%, 30%);
  --bg-fib-4: hsl(120, 70%, 20%);
  --bg-fib-5: hsl(120, 70%, 10%);
}
.bg-blue {
  --bg-fib-1: hsl(240, 70%, 50%);
  --bg-fib-2: hsl(240, 70%, 40%);
  --bg-fib-3: hsl(240, 70%, 30%);
  --bg-fib-4: hsl(240, 70%, 20%);
  --bg-fib-5: hsl(240, 70%, 10%);
}
.bg-purple {
  --bg-fib-1: hsl(300, 70%, 50%);
  --bg-fib-2: hsl(300, 70%, 40%);
  --bg-fib-3: hsl(300, 70%, 30%);
  --bg-fib-4: hsl(300, 70%, 20%);
  --bg-fib-5: hsl(300, 70%, 10%);
}
.bg-red {
  --bg-fib-1: hsl(0, 70%, 50%);
  --bg-fib-2: hsl(0, 70%, 40%);
  --bg-fib-3: hsl(0, 70%, 30%);
  --bg-fib-4: hsl(0, 70%, 20%);
  --bg-fib-5: hsl(0, 70%, 10%);
}
.fib {
  transition: all 1s ease-in-out;
}
#fib-0 {
  width: calc(100vw - 300px);
  height: 100%;
  display: flex;
  position: relative;
}
#fib-1 {
  width: calc(100% / var(--PHI));
  height: 100%;
  background: var(--bg-fib-1);
  transition-delay: 0s;
}
#fib-2 {
  width: calc(100% - (100% / var(--PHI)));
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fib-3 {
  width: 100%;
  height: calc(100% / var(--PHI));
  background: var(--bg-fib-2);
  transition-delay: 0.3s;
}
#fib-5 {
  width: 100%;
  height: calc(100% - (100% / var(--PHI)));
  display: flex;
  flex-direction: row-reverse;
}
#fib-8 {
  width: calc(100% / var(--PHI));
  height: 100%;
  background: var(--bg-fib-3);
  transition-delay: 0.5s;
}
#fib-13 {
  width: calc(100% - (100% / var(--PHI)));
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
#fib-21 {
  width: 100%;
  height: calc(100% / var(--PHI));
  background: var(--bg-fib-4);
  transition-delay: 0.8s;
}
#fib-34 {
  width: 100%;
  height: calc(100% - (100% / var(--PHI)));
  background: var(--bg-fib-5);
  transition-delay: 1.3s;
}
